footer
{
    display:block;
    background-color: white;
    border-top: 1px solid #CCCCCC;
    height: 60px; 
    width: 100%; 
    justify-content: center;
    display:flex; 
    bottom: 0; 
    left: 0; 
    right: 0;
    position: fixed;
}

.footer_txt
{
    padding-top: 20px;
}
