.places
{
    position: relative;
}

h1
{
    text-align: left;
    font-size: 30px;
}

article h2
{
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    font-size: 30px;
}
